data/*
output/*

!data/Military/
!output/ForSharing/

data/Military/*/
output/ForSharing/*/

!data/Military/Train/
!output/ForSharing/COD_Results_state_final_acd+camo_norm_std/

data/Military/Train/*/
output/ForSharing/COD_Results_state_final_acd+camo_norm_std/*/

!data/Military/Train/ACD1K_Only/
!output/ForSharing/COD_Results_state_final_acd+camo_norm_std/

data/Military/Train/ACD1K_Only/*/
output/ForSharing/COD_Results_state_final_acd+camo_norm_std/*/

!data/Military/Train/ACD1K_Only/GT_Edge/
!data/Military/Train/ACD1K_Only/GT_Object/
!data/Military/Train/ACD1K_Only/Image/

data/Military/Train/ACD1K_Only/GT_Edge/*
data/Military/Train/ACD1K_Only/GT_Object/*
data/Military/Train/ACD1K_Only/Image/*

!data/Military/Train/ACD1K_Only/GT_Edge/image1.png
!data/Military/Train/ACD1K_Only/GT_Edge/image2.png
!data/Military/Train/ACD1K_Only/GT_Edge/image3.png
!data/Military/Train/ACD1K_Only/GT_Object/image1.png
!data/Military/Train/ACD1K_Only/GT_Object/image2.png
!data/Military/Train/ACD1K_Only/GT_Object/image3.png
!data/Military/Train/ACD1K_Only/Image/image1.jpg
!data/Military/Train/ACD1K_Only/Image/image2.jpg
!data/Military/Train/ACD1K_Only/Image/image3.jpg

!output/ForSharing/COD_Results_state_final_acd+camo_norm_std/image501.png
!output/ForSharing/COD_Results_state_final_acd+camo_norm_std/image502.png
!output/ForSharing/COD_Results_state_final_acd+camo_norm_std/image503.png